@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url(img/serene.jpg) no-repeat center center/cover;
  color: #c8bfb3;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
  color: #312c1e;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.gradient-circle {
  background: conic-gradient(
    #ac845c 0%,
    #ac845c 40%,
    #c8bfb3 40%,
    #c8bfb3 60%,
    #64522f 60%
  );

  height: 320px;
  width: 320px;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
}

.circle {
  background-color: #312c1e;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer {
  background-color: #aa9030;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
